* {
    padding: 0;
    margin: 0;
}

.btn-primary {
    background-color: #FF9209;
    border-radius: 5px;
    padding: 15px 15px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 200px;
}

nav > h3 {
    font-weight: 800;
    color: #181818;
    font-size: 45px;
}

nav span {
    color: #FF6C22;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul li button {
    background-color: #FF9209;
    border-radius: 5px;
    padding: 15px 15px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

nav ul li a:hover {
    color: #FF9209;
    transition: 0.3s ease;
}

nav ul li button:hover {
    background-color: #FFA732;
}

.header {
    background-color: #FFF8F3;
    background-image: url(icons/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-right: 300px;
    gap: 20px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.about .section-title {
    text-align: center;
}

.about .section-description {
    text-align: center;
    margin-top: 20px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.another-section {
    text-align: center;
}

.another-section {
    text-align: center;
    padding: 30px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.skill1 {
    height: 170px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    gap: 100px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.03);
}
.skill2 {
    height: 170px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.03);
}
.skill3 {
    height: 170px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.03);
}
.skill4 {
    height: 170px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.03);
}

.summary {
    text-align: center;
    margin-top: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF8F3;
}

.form {
    margin-top: 50px;
}

.form input {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form  input, textarea {
    margin-bottom: 22px;
    padding: 18px 35px;
    background-color: white;
    border: none;
}

.connect p {
    width: 500px;
}

